<form ng-controller="OrganizationFormController" ng-submit="onOrganizationFormSubmit()"
      name="organizationForm" novalidate>
    <div class="form-group" show-errors>
        <label class="control-label">Назва організації *</label>
        <input type="text" ng-model="organizationsFormData.name" ng-pattern="/^.{3,30}$/"
               id="name" name="name" class="form-control" required>
        <span class="form-control-feedback glyphicon form-horizontal glyphicon glyphicon-ok-sign"></span>
    </div>
    <div class="row">
        <div class="form-group col-md-6" show-errors>
            <label class="control-label">Номер телефону *</label>
            <input type="text" ng-model="organizationsFormData.phone" name="phone" class="form-control" required>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Електронна адреса</label>
            <input type="text" ng-model="organizationsFormData.email" name="phone" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">Тип організації *</label>
            <select ng-model="organizationsFormData.type" ng-options="typeInfo.type as typeInfo.name for typeInfo in typeData"
                    name="type" class="form-control" required>
                <option value="" style='display:none;' disabled>Виберіть тип...</option>
            </select>
        </div>
        <div class="form-group col-md-6" show-errors>
            <label class="control-label">Адреса *</label>
            <input type="button" ng-model="organizationsFormData.address"
                   ng-click="openAddressModal()"
                   name="address" value="{{addressMessage}}" class="form-control">
        </div>
    </div>
    <hr />
    <p class="help-block">Заповніть дані для системного адміністратора організації</p>
    <div class="row">
        <div class="form-group col-md-4" ng-class="usernameValidation.css">
            <label class="control-label">Логін *</label>
            <input type="text" ng-model="organizationsFormData.username" ng-model-options="{debounce: 350}"
                   ng-change="checkUsername()"
                   id="username" name="username" class="form-control" required>
            <p class="help-block" ng-if="!usernameValidation.isValid">{{ usernameValidation.message }}</p>
        </div>
        <div class="form-group col-md-4" show-errors>
            <label class="control-label">Пароль *</label>
            <input type="password" ng-model="organizationsFormData.password" name="password" class="form-control" required>
        </div>
        <div class="form-group col-md-4" show-errors>
            <label class="control-label">Повторіть пароль *</label>
            <input type="password" ng-model="organizationsFormData.rePassword" name="rePassword" class="form-control" required>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Добавити</button>
    <a class="btn btn-warning" ng-click="resetOrganizationForm()">Скинути форму</a>
    <p>{{organizationsFormData}}</p>
    <p>{{usernameValidation}}</p>
    <p>{{$root.addressForm}}</p>
</form>