<div id="page-wrapper" ng-controller="OrganizationController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Організації </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Добавити організацію
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" ng-submit="onOrganizationAddFormSubmit()" novalidate>
                                <div class="form-group">
                                    <label>Назва організації *</label>
                                    <input type="text" popover-trigger="focus" ng-model="organizationsFormData.name" class="form-control" required
                                           popover="Ви впевнені що даної організації немає в базі?
                                           Ми рекомендуємо перевірити на наявність у таблиці нижче">
                                </div>
                                <div class="form-group">
                                    <label>Електронна адреса</label>
                                    <input type="text" popover-trigger="focus" ng-model="organizationsFormData.email" class="form-control"
                                           popover="Дане поле є не обов'язковим, проте для зручності у використанні слідуйте шаблону - example@site.com">
                                </div>
                                <div class="form-group">
                                    <label>Номер телефону *</label>
                                    <input type="text" class="form-control" required ng-model="organizationsFormData.phone">
                                </div>
                                <div class="form-group">
                                    <label>Тип організації *</label>
                                    <select ng-model="organizationsFormData.type" ng-options="typeInfo.type as typeInfo.name for typeInfo in typeData"
                                            class="form-control" required>
                                        <option value="" style='display:none;' disabled>Виберіть тип...</option>
                                    </select>
                                </div>
                                <hr />
                                <p class="help-block">Заповніть дані для системного адміністратора організації</p>
                                <div class="form-group">
                                    <label>Логін *</label>
                                    <input type="text" class="form-control" required ng-model="organizationsFormData.username">
                                </div>
                                <div class="form-group">
                                    <label>Пароль *</label>
                                    <input type="password" class="form-control" required ng-model="organizationsFormData.password">
                                </div>
                                <div class="form-group">
                                    <label>Повторіть пароль *</label>
                                    <input type="password" class="form-control" required ng-model="organizationsFormData.rePassword">
                                </div>
                                <button type="submit" class="btn btn-success">Добавити</button>
                                <button type="reset" class="btn btn-warning">Скинути форму</button>
                                <p>{{organizationsFormData}}</p>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Інформація
                </div>
                <div class="panel-body">
                    <p>
                        В майбутньому тут буде міститися інформація про цю сторінку або ще щось.
                        Можна звичайно тут накидати текст зі сайту лорем іспум - дуже крутий сайт для темплейтної верстки,
                        але на перший час обійдемось ось цим простим текстом. Наприклад, це млжуть бути якісь підказки щодо
                        заповнення форми ліворуч або шось в такому дусі. Успіхів.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Організації
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Пошук по назві:
                                <input type="text" ng-model="searchData" ng-change="onTableHandling()" ng-model-options="{debounce: 600}" class="form-control input-sm">
                            </label>
                        </div>
                        <div class="col-sm-offset-6">
                            <label>Показати по
                                <select ng-model="itemsPerPage" ng-change="onTableHandling()" class="form-control input-sm">
                                    <option value="1">1</option>
                                    <option value="3">3</option>
                                    <option value="5" selected>5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered table-hover" id="organizationsTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Назва</th>
                                        <th>Тип</th>
                                        <th>Email</th>
                                        <th>Номер телефону</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="organization in pageContent">
                                        <td>{{ organization.id }}</td>
                                        <td>{{ organization.name }}</td>
                                        <td>{{ organization.type }}</td>
                                        <td>{{ organization.email }}</td>
                                        <td>{{ organization.phone }}</td>
                                    </tr>
                                </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true"
                                        rotate="false" ng-change="onTableHandling()" items-per-page="itemsPerPage"></pagination>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->