<div id="page-wrapper" ng-controller="FindAllApplication">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Усі доступні заявки</h1>
            <form class="form-horizontal" ng-submit="getAllAvailableApplication()">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-success text-uppercase">
                        {{'UPDATE'}}
                    </button>
                </div>
                <div>
                  {{dataData}}
                </div>
                </form>
        </div>
    </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>