<table class="table table-striped table-bordered">
    <tr>
        <th>Дата</th>
        <th>{{verificationData.initialDate}}</th>
    </tr>

    <tr>
        <th>Реєстраційний номер повірки</th>
        <th>{{verificationData.id}}</th>
    </tr>

</table>

<table class="table table-striped table-bordered">

    <thead>
    <tr>
        <th colspan="2" class="text-center text-info">Інформація про клієнта</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>Прізвище</th>
        <th>{{verificationData.lastName}}</th>
    </tr>

    <tr>
        <th>Ім'я</th>
        <th>{{verificationData.firstName}}</th>
    </tr>

    <tr>
        <th>По батькові</th>
        <th>{{verificationData.middleName}}</th>
    </tr>

    <tr>
        <th>Електронна пошта</th>
        <th>{{verificationData.email}}</th>
    </tr>

    <tr>
        <th>Номер телефону</th>
        <th>{{verificationData.phone}}</th>
    </tr>

    <tr>
        <th>Область</th>
        <th>{{verificationData.region}}</th>
    </tr>

    <tr>
        <th>Район</th>
        <th>{{verificationData.district}}</th>
    </tr>

    <tr>
        <th>Населений пункт</th>
        <th>{{verificationData.locality}}</th>
    </tr>

    <tr>
        <th>Вулиця</th>
        <th>{{verificationData.street}}</th>
    </tr>

    <tr>
        <th>Будинок</th>
        <th>{{verificationData.building}}</th>
    </tr>

    <tr>
        <th>Квартира</th>
        <th>{{verificationData.flat}}</th>
    </tr>
    </tbody>

</table>