<div class="modal-header">
    <h3 class="modal-title">Будь ласка виберіть повірника</h3>
</div>
<div class="col-md-8">
    <input id="calibrator" name="calibrator" class="form-control"
           ng-model="selectedCalibrator"
           typeahead="calibrator as calibrator.name for calibrator in calibrators | filter: $viewValue"
           typeahead-editable="false">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(selectedCalibrator)">Підтвердити</button>
    <button class="btn btn-primary" ng-click="close()">Закрити</button>
</div>
