<html>
	<body>
		<span style="font-weight:bold">
			Hello <span style="color:red">$name!</span>  Your request has been sent.
		</span>
		<br>You can check status of your application following by this link:
		<br>$protocol://$domain/$applicationId.html
		<br>Thank you for using our services.
	</body>
</html>