<div ng-controller="AddApplicationsController">
    <form class="form-horizontal centered" role="form" ng-hide="myVar" ng-submit="saveData()">
        <div class="form-group col-lg-10">
            <label for="inputFirstName" class="col-sm-2 control-label">First name</label>
            <div class="col-lg-6">
                <input class="form-control" id="inputFirstName" placeholder="firstName" ng-model="formInfo.firstName">
            </div>
        </div>
        <div class="form-group col-lg-10">
            <label for="inputLastName" class="col-sm-2 control-label">Second name</label>
            <div class="col-lg-6">
                <input class="form-control" id="inputLastName" placeholder="lastName" ng-model="formInfo.lastName">
            </div>
        </div>
        <div class="form-group col-lg-10">
            <label for="inputMiddleName" class="col-sm-2 control-label">Middle name</label>
            <div class="col-lg-6">
                <input class="form-control" id="inputMiddleName" placeholder="middleName" ng-model="formInfo.middleName">
            </div>
        </div>
        <div class="form-group col-lg-10">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-lg-6">
                <input class="form-control" id="inputEmail" placeholder="email" ng-model="formInfo.email">
            </div>
        </div>
        <div class="form-group col-lg-10">
            <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
            <div class="col-lg-6">
                <input class="form-control" id="inputPhone" placeholder="phone" ng-model="formInfo.phone">
            </div>
        </div>
        <div class="form-group col-lg-10">
            <label for="inputRegion" class="col-sm-2 control-label">Region</label>
            <div class="col-lg-6">
                <input type="text" ng-model="formInfo.region" id="inputRegion"
                       typeahead="region as region.designation for region in regions | filter: $viewValue"
                       class="form-control" placeholder="REGION"
                       typeahead-on-select="receiveDistricts(formInfo.region)">
            </div>
        </div>
        <div class="form-group col-lg-10">
            <label for="inputDistrict" class="col-sm-2 control-label">District</label>
            <div class="col-lg-6">
                <input type="text" ng-model="formInfo.region" id="inputDistrict"
                       typeahead="region as region.designation for region in regions | filter: $viewValue"
                       class="form-control" placeholder="REGION"
                       typeahead-on-select="receiveDistricts(formInfo.region)">
            </div>
        </div>

        <div class="form-group col-lg-10">
            <label for="inputLocality" class="col-sm-2 control-label">Locality</label>
            <div class="col-lg-6">
                <input type="text" ng-model="formInfo.region" id="inputLocality"
                       typeahead="region as region.designation for region in regions | filter: $viewValue"
                       class="form-control" placeholder="REGION"
                       typeahead-on-select="receiveDistricts(formInfo.region)">
            </div>
        </div>

        <div class="form-group col-lg-10">
            <label for="inputStreet" class="col-sm-2 control-label">Street</label>
            <div class="col-lg-6">
                <input type="text" ng-model="formInfo.region" id="inputStreet"
                       typeahead="region as region.designation for region in regions | filter: $viewValue"
                       class="form-control" placeholder="REGION"
                       typeahead-on-select="receiveDistricts(formInfo.region)">
            </div>
        </div>

        <div class="form-group col-lg-10">
            <label for="inputBuilding" class="col-sm-2 control-label">Building</label>
            <div class="col-lg-6">
                <input type="text" ng-model="formInfo.region" id="inputBuilding"
                       typeahead="region as region.designation for region in regions | filter: $viewValue"
                       class="form-control" placeholder="REGION"
                       typeahead-on-select="receiveDistricts(formInfo.region)">
            </div>
        </div>

        <div class="form-group col-lg-10">
            <label for="inputFlat" class="col-sm-2 control-label">Flat</label>
            <div class="col-lg-6">
                <input type="text" ng-model="formInfo.region" id="inputFlat"
                       typeahead="region as region.designation for region in regions | filter: $viewValue"
                       class="form-control" placeholder="REGION"
                       typeahead-on-select="receiveDistricts(formInfo.region)">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
    <div class="alert alert-success" role="alert" ng-hide="!myVar">
        Thank you,we received your application. Your code : {{ code }}
    </div>
</div>