<form  role="form" ng-controller="CheckApplicationController">
    <div class="form-group">
        <label for="code" class="col-sm-2 control-label">???? ????? ??????? ??? ??????</label>
        <div class="col-sm-2">
            <input class="col-sm-1 form-control" id="code" placeholder="???" ng-model="codeInfo.code">
        </div>
        <button type="search" ng-click="search()" class="btn btn-success">?????</button>
    </div>
    <div class="alert alert-success" role="alert" ng-hide="myAlert">
        ?????? ?????? : {{ status }}
    </div>
</form>