<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" du-smooth-scroll="welcomeSection">{{ 'START' | translate }}</a>
        </div>
        <div ng-controller="InternationalizationController">
            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown on-toggle="toggled(open)">
                    <a class="dropdown-toggle" dropdown-toggle>
                        {{ 'LANG' | translate }}  <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="lang in languages">
                            <a href ng-click="changeLanguage(lang.key)">{{ lang.name }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li du-scrollspy="aboutSection">
                    <a ui-sref="home" du-smooth-scroll="aboutSection">
                        {{ 'ABOUT' | translate }}
                    </a>
                </li>
                <li du-scrollspy="loginSection">
                    <a du-smooth-scroll="loginSection">
                        {{ 'LOG_ON' | translate }}
                    </a></li>
                <li du-scrollspy="applicationSection"
                        ><a du-smooth-scroll="applicationSection">
                    {{ 'APPLY_FOR_VERIFCIATION' | translate }}
                </a></li>
                <li du-scrollspy="applicationStatusSection">
                    <a du-smooth-scroll="applicationStatusSection">
                        {{ 'APP_STATUS' | translate }}
                    </a></li>
            </ul>
        </div>
    </div>
</nav>
