<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="col-md-1" ng-controller="InternationalizationController">
        <select class="form-control" ng-options="language for language in languages"
                ng-model="selectedLang" ng-change="changeLanguage(selectedLang)"></select>
    </div>

    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" du-smooth-scroll="welcomeSection">{{ 'START' | translate }}</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li du-scrollspy="aboutSection">
                    <a ui-sref="home" du-smooth-scroll="aboutSection">
                        {{ 'ABOUT' | translate }}
                    </a>
                </li>
                <li du-scrollspy="loginSection">
                    <a du-smooth-scroll="loginSection">
                        {{ 'LOG_ON' | translate }}
                    </a></li>
                <li du-scrollspy="applicationSection"
                        ><a du-smooth-scroll="applicationSection">
                    {{ 'APPLY_FOR_VERIFCIATION' | translate }}
                </a></li>
                <li du-scrollspy="applicationStatusSection">
                    <a du-smooth-scroll="applicationStatusSection">
                        {{ 'APP_STATUS' | translate }}
                    </a></li>
            </ul>
        </div>
    </div>
</nav>
