body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-align: center;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
    float: left;
    margin-right: 10px;
}

html {
    width: 100%;
    height: 100%;
}

a {
    cursor: pointer;
}

.btn-close-alert {
    cursor: pointer !important;
    width: 25px !important;
    height: 25px !important;
}

.from-top {
    padding-top: 35px !important;
}

#welcomeSection {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

#aboutSection {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

#loginSection {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

#applicationStatusSection {
    height: 100%;
    padding-top: 40px;
    text-align: center;
    background: #fff;
}

.centered {
    float: none;
    margin: 0 auto;
}

.form-signin {
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
