body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

a {
    cursor: pointer;
}

#welcomeSection {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

#aboutSection {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

#loginSection {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

#applicationSection {
    height: 100%;
    padding-top: 40px;
    text-align: center;
    background: #eee;
}

#applicationStatusSection {
    height: 100%;
    padding-top: 40px;
    text-align: center;
    background: #eee;
}

.centered {
    top: 50%;
    left: 50%;
}

.form-signin {
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}