<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/resources/assets/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/resources/assets/css/welcome.css" rel="stylesheet">
</head>

<body id="welcomeModule">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" du-smooth-scroll="welcomeSection">Початок</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li du-scrollspy="aboutSection"><a du-smooth-scroll="aboutSection">Про сервіс</a></li>
                <li du-scrollspy="loginSection"><a du-smooth-scroll="loginSection">Увійти</a></li>
                <li du-scrollspy="applicationSection"><a du-smooth-scroll="applicationSection">Подати заявку на
                    повірку</a></li>
                <li du-scrollspy="applicationStatusSection"><a du-smooth-scroll="applicationStatusSection">Перевірити
                    статус заявки</a></li>
            </ul>
        </div>
    </div>
</nav>

<section id="welcomeSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Централізована система повірки лічильників</h1>
            </div>
        </div>
    </div>
</section>

<section id="aboutSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Про сервіс</h1>
            </div>
        </div>
    </div>
</section>

<section id="loginSection" ng-controller="LoginController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Увійдіть в систему</h1>
            </div>
            <div class="col-lg-12">
                <form ng-submit="login()" class="form-signin centered">
                    <input ng-model="loginForm.username" type="text" class="form-control" placeholder="Логін" required>
                    <input ng-model="loginForm.password" type="password" id="inputPassword" class="form-control"
                           placeholder="Пароль" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
                    <p>{{ loginForm }}</p>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="applicationSection" ng-controller="AddApplicationsController">
    <div class="container">

        <div class="col-md-2" style="padding-top: 60px;">
            <select class="form-control" ng-options="language for language in languages"
                    ng-model="selectedLang" ng-change="changeLanguage(selectedLang)"></select>
        </div>
        
        <div class="col-md-12 text-center">
            <h1>{{ 'SEND_APP_TITLE' | translate }}</h1>
        </div>

        <div class="row">
            <div class="col-md-12"></div>
        </div>

        <div class="from-top form-group ">
            <div ng-show="isShownForm" class="row col-md-10 centered">

                <form class="form-horizontal form-group" ng-submit="sendApplicationData()">
                    <div class="form-group">
                        <label for="firstName" class="col-md-2 control-label">{{'FIRST_NAME' | translate}}</label>

                        <div class="col-md-10">
                            <input required class="form-control" id="firstName" ng-model="formData.firstName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="col-md-2 control-label">{{'LAST_NAME' | translate}}</label>

                        <div class="col-md-10">
                            <input required class="form-control" id="lastName" ng-model="formData.lastName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="middleName" class="col-md-2 control-label">{{'MIDDLE_NAME' | translate}}</label>

                        <div class="col-md-10">
                            <input required class="form-control" id="middleName" ng-model="formData.middleName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">{{'EMAIL' | translate}}</label>

                        <div class="col-md-10">
                            <input required class="form-control" id="email" ng-model="formData.email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber" class="col-md-2 control-label">{{'PHONE_NUMBER' | translate}}</label>

                        <div class="col-md-10">
                            <input required class="form-control" id="phoneNumber" ng-model="formData.phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="region" class="col-md-2 control-label">{{'REGION' | translate}}</label>

                        <div class="col-md-10">
                            <input required type="text" ng-model="selectedRegion" id="region"
                                   typeahead="region as region.designation for region in regions | filter: $viewValue"
                                   class="form-control" typeahead-on-select="receiveDistricts(selectedRegion)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="district" class="col-md-2 control-label">{{'DISTRICT' | translate}}</label>

                        <div class="col-md-10">
                            <input required type="text" ng-model="selectedDistrict" id="district"
                                   typeahead="district as district.designation for district in districts | filter: $viewValue"
                                   class="form-control" typeahead-on-select="receiveLocalities(selectedDistrict)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="locality" class="col-md-2 control-label">{{'LOCALITY' | translate}}</label>

                        <div class="col-md-10">
                            <input required type="text" ng-model="selectedLocality" id="locality"
                                   typeahead="locality as locality.designation for locality in localities | filter: $viewValue"
                                   class="form-control" typeahead-on-select="receiveStreets(selectedLocality)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="street" class="col-md-2 control-label">{{'STREET' | translate}}</label>

                        <div class="col-md-10">
                            <input required type="text" ng-model="selectedStreet" id="street"
                                   typeahead="street as street.designation for street in streets | filter: $viewValue"
                                   class="form-control" typeahead-on-select="receiveBuildings(selectedStreet)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="building" class="col-md-2 control-label">{{'BUILDING' | translate}}</label>

                        <div class="col-md-10">
                            <input required type="text" ng-model="selectedBuilding" id="building"
                                   typeahead="building as building.designation for building in buildings | filter: $viewValue"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="flat" class="col-md-2 control-label">{{'FLAT' | translate}}</label>

                        <div class="col-md-10">
                            <input required class="form-control" id="flat" ng-model="formData.flat">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success text-uppercase">
                                {{'SEND_BTN' | translate}}
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <div ng-hide="isShownForm" class="row col-lg-10 alert alert-success alert-dismissible centered"
                 role="alert">
                <button ng-click="closeAlert()" type="button" class="close btn-close-alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{'APP_SENT' | translate}}{{ applicationCode }}
            </div>
        </div>
    </div>
</section>

<section id="applicationStatusSection" ng-controller="CheckApplicationController">
    <div class="container">

        <div class="row col-lg-12 centered">
            <h1>{{'CHECK_APP_STATUS_TITLE' | translate}}</h1>
        </div>

        <div class="from-top">
            <div ng-show="isShownForm" class="row col-lg-10 centered">

                <form class="form-horizontal" ng-submit="findCode()">

                    <div class="form-group">
                        <label for="code" class="col-md-2 control-label">
                            {{'APPLICATION_CODE' | translate}}
                        </label>

                        <div class="row">
                            <div class="form-group col-md-8">
                                <input class="form-control" id="code" ng-model="codeInfo.code" required>
                            </div>

                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-success text-uppercase">
                                    {{'SEARCH_BTN' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-hide="isShownForm" class="row col-lg-10 alert alert-success alert-dismissible centered"
                 role="alert">
                <button ng-click="closeAlert()" type="button" class="close btn-close-alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{'APPLICATION_STATUS' | translate}} : {{ status }}
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" data-main="/resources/app/welcome/run-app"
        src="/resources/assets/bower_components/requirejs/require.js"></script>

</body>
</html>
